<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 sidebar">
      <a href="#!/"><i class="back fa fa-chevron-circle-left fa-3x" aria-hidden="true"></i></a>
      <p>Pesquisar:</p>
      <input ng-model="$ctrl.query" />
      <br><br>
      <p>Ordenar por:</p>
      <select ng-model="$ctrl.orderProp">
        <option value="name">Alfabetico</option>
        <option value="age"></option>
      </select>
  </div>
    <div class="col-md-10">
      <ul class="products">
        <li ng-repeat="product in products | filter:$ctrl.query | orderBy:$ctrl.orderProp"
            class="thumbnail product-list-item table-responsive">
          <a href="{{product.imageUrl}}" class="thumb">
            <img ng-src="{{product.imageUrl}}" alt="{{product.name}}" />
          </a>
          <h4 href="#">{{product.name}}</h4>
          <div class="table">
            <p ng-repeat="tag in product.snippet" class="tag"> {{tag}}</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
